


.bg-yellow{
    background-color: #f7c04e !important;
}
.py-6{
    padding: 150px 0px;
}
.green-color{
    color:#1db954 !important ;

}
.gradient{
    background: linear-gradient(#ed6670, #f2ad4e);
}
.btn-success{
    background-color:#1db954 !important ;
    border-radius: 50px;
}
.btn-outline-secondary{
    border-radius: 50px;
}
.shadow{
    box-shadow: 0px 2px 5px #999;
}
.bg-black{
    background-color: #000;
}
@media (max-width:992px) {
    .display-3{
        font-size: 35px;
    }
}
